{% extends 'base.html' %}
{% import 'macros.html' as macro %}

<!-- Styles block -->
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{url_for('static',filename = 'css/index.css')}}">
{% endblock %}

<!-- Content block -->
{% block content %}
<div class="container">
  <form action="">
    <input type="text" name="movie_query" placeholder="Search for a movie" class="form-control">
    <input type="submit" value="Submit" class="btn btn-default">
  </form>
</div>
<!-- Popular movie sections -->
<div class="container-fluid text-center">
  <div class="row">
    <h3>Popular Movies</h3>
    <ul>
      {{macro.displayMovieList(popular)}}
    </ul>
  </div>
  
  <!-- Upcoming movies -->
  <div class="row">
    <h3>Upcoming Movies</h3>
    <ul>
      {{macro.displayMovieList(upcoming)}}
    </ul>
  </div>
  <!-- Now showing Movies -->
  <div class="row">
    <h3>Now showing</h3>
    <ul>
      {{macro.displayMovieList(now_showing)}}
    </ul>
  </div>
</div>
{% endblock %}